.key {
    transition: all 0.07s;
}

.playing {
    transform: scale(1.1);
}

body {
    height: 100vh;
    background-image: url("images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}