.key {
    transition: all 0.07s;
    color: #8e6464;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.playing {
    transform: scale(1.1);
}

body {
    height: 100vh;
    background-image: url("images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.keys {
    height: 100vh;
    display:flex;
    flex-flow: row wrap; 
    gap: 16px 4px;
    justify-content: center;
    align-items: center;
}